{
    "slurs": [
        "faggot",
        "fag",
        "beaner",
        "nigger",
        "niger",
        "nig",
        "tranny",
        "coon",
        "chink",
        "chinx",
        "dyke"
    ],
    "adminPasswords": {
        "ExamplePassword": "adminName"
    }
}